[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/elzr/vim-json.git
