[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-vivdchalk"]
	path = bundle/vim-vivdchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/powerline-fonts"]
	path = bundle/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "netrw.vim"]
	path = netrw.vim
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "bundle/vim-gotham"]
	path = bundle/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "bundle/vim-coffee"]
	path = bundle/vim-coffee
	url = https://github.com/duythinht/vim-coffee.git
[submodule "bundle/ingretu"]
	path = bundle/ingretu
	url = https://github.com/gmarik/ingretu.git
[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = https://github.com/vim-scripts/desertEx.git
[submodule "bundle/synic.vim"]
	path = bundle/synic.vim
	url = https://github.com/vim-scripts/synic.vim.git
[submodule "bundle/mrkn256.vim"]
	path = bundle/mrkn256.vim
	url = https://github.com/mrkn/mrkn256.vim.git
[submodule "bundle/256-jungle"]
	path = bundle/256-jungle
	url = https://github.com/vim-scripts/256-jungle.git
[submodule "bundle/lizard"]
	path = bundle/lizard
	url = https://github.com/gilsondev/lizard.git
[submodule "bundle/last256"]
	path = bundle/last256
	url = https://github.com/sk1418/last256.git
[submodule "bundle/Atom"]
	path = bundle/Atom
	url = https://github.com/gregsexton/Atom.git
[submodule "bundle/burnttoast256"]
	path = bundle/burnttoast256
	url = https://github.com/vim-scripts/burnttoast256.git
